body{
    background-color: #555;
}
.game_holder{
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.keys{
    font-family: 'VT323', monospace;
    color: #222;
    font-size: 1.3em;
    margin: 1em;
    position: absolute;
    right: 10px;
    bottom: 120px;
    z-index: 30;
}
canvas{
    display: block;
    position: relative;
    z-index:10;
}

.inner_wrap{
    position: relative;
}

.intro{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'VT323', monospace;
    background-color:#F6E7B8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index:20;
    padding: 0 0 100px 800px;
}
.intro h1{
    font-size: 50px;
    color: #474A4B;
    text-align: center;
    font-weight: 700;
    margin:0 0 15px 0;
    z-index:20;
    text-transform: uppercase;
}
.intro .loading_bar{
    width: 310px;
    height: 30px;
    background-color: transparent;
    margin: 0 auto;
    border: 3px solid #474A4B;
    z-index:20;
}
.intro .play{
    background-color: #ffca12;
    text-decoration: none;
    font-size: 30px;
    margin: 20px 0;
    padding: 12px 25px;
    color: #474A4B;
    font-weight: bold;
    text-transform: uppercase;
    outline:none;
    z-index:20;
}
.intro .play:hover{
    background-color: #ffffb1;
}
.intro .play:active{
    color: #FFF;
    background-color: #67901C;
}
.intro .play.disabled, .intro .play.disabled:hover, .intro .play.disabled:active{
    background-color:#B1B1B1;
    cursor:default;
    opacity:0.5;
    color: #474A4B;
}
.intro .bar{
    height:100%;
    background-color: #96D128;
    border: 3px solid #A9D7E4;
    box-sizing: border-box;
    width: 0%;
}

.intro video{
    position: absolute;
    left: 0;
    top: 0;
    z-index:10;
}

.special_buttons{
    font-family: monospace;
    color: #fff;
}
.special_buttons a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #222;
    display: inline-block;
    padding: 2px 5px;
    margin-top: 5px;
}
.special_buttons a:hover{
    background-color: #cb4577;
}